* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#page-head {
    position:relative;
    height: 50vh;
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#page-head h1 {
    /* position: absolute; */
    /* bottom: 0; */
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

#page-copy {
    padding: 1rem 2rem;
    margin-top: 2rem;
}

#page-copy-head {
    font-weight: bold;
    font-size: 1.2rem;
}

#page-copy-body {
    padding-top: 0.8rem;
}

#page-head-nav button {
    padding: 0.5rem 1.8rem;
    border: none;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.1s;
}

#page-head-nav button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

#menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.menu-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid black;
}

.menu-section:last-child {
    border-right: 0px;
}

.menu-section-name {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 0px;
    width: 100%;
    flex-grow: 0;
}

.menu-section-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.menu-item {
    padding: 2rem 2rem;
}

.menu-item-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-item-price {
    padding-top: 0.5rem;
}

.menu-item-calories {
    font-style: italic;
    font-size: 0.75rem;
}